@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  overflow: hidden;

  font-family: 'Muli', sans-serif;

  margin: 0;

  background: rgb(32,32,32);
}

.container {
  display: flex;

  width: 100%;

  padding: 0 20px;
}

.slide {
  position: relative;
  top: 0;
  left: 0;

  flex: 1;

  height: 80vh;

  color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  margin: 10px;

  transition: all 0.7s ease-in-out;
  cursor: pointer;
  border-radius: 20px;
}

.slide h3 {
  position: absolute;
  bottom: 20px;
  left: 20px;

  font-size: 28px;

  padding: 5px 10px;
  margin: 0;
  opacity: 0;

  border-radius: 10px;

  background: rgb(32,32,32);
}

.slide.active {
  flex: 10;
}

.slide.active h3 {
  opacity: 1;

  transition: opacity 0.5s ease-in 0.6s;
}